/* head */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    /* color: coral; */
}

.coral{
    color: rgb(235, 121, 21);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav .main-nav{
    display: flex;
    margin: 0;
    padding: 0;
}

.nav .logo-nav{
    font-size: 24px;
    color: #063255;
}

.nav .main-nav li{
    padding: 0 1rem;
    list-style: none;
}

.main-nav a{
    color: #063255;
}

h1{
    font-size: 4rem;
    color: #063255;
}

h2{
    font-size: 3rem;
    color: #063255;
}

h3{
    font-size: 2rem;
}

.one{
    max-width: 100%;
    padding: 3vh 0 0;
    background-color: #DCEAF5;
}

.content-one{
    display: flex;
    width: 100%;
    flex-grow: 1;
}
img {
    vertical-align: bottom;
}
.col-2{
    align-items: center;
    width: calc(100%/2 - 40px);
}
.container{
    max-width: 1280px;
    margin: 0 auto;   
}

.con{
    width: 700px;
    margin: 0 auto;
    padding: 40px 0;
}

.two{
    max-width: 100%;
    padding: 5vh 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
}

.col-3{
    width: calc(100%/3 - 40px);
    margin: 40px 0;
}

.img{
    border-radius: 15px;
}
.two .row a::after{
    content: '\2192';
}

.three{
    padding: 3vh 0;
    background-color: #DCEAF5; 
}

.three .col-3{
    border-radius: 20px;
    background-color: white;
    padding: 40px 10px;
}

.four{
    padding: 5vh 0;
}
.four .col-2{
    width: calc(100%/2 - 40px);
}

.four img{
    border-radius: 20px;
}

.numb{
    width: calc(100%/2 - 40px);
    padding: 0 1vh;
}

.rel{
    position: relative;
}

.rel::before{
    content: '';
    position: absolute;
    inset: 0 75% 0 0;
    background-color: #eb7610;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}

.five{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 3vh 3vh;
    background-color: #DCEAF5;
    border-radius: 20px;
}

.five .col-2{
    width: calc(100%/2 - 40px);
    margin-top: 16px;
}

.team{
    width: 90%;
}

.bx{
    border-radius: 20px;
    border: 1px solid #5b5b5b; 
    color: #5b5b5b;
    padding: 9px;
}
.five .coral-one{
    border-radius: 20px;
    border: 1px solid white; 
    background-color: white;
    color: #eb7610;
    padding: 9px;
}

.six{
    display: flex;
    max-width: 100%;
    background-color: coral;
    margin: 5vh 0;
}

.experience-content{
    padding: 9rem 3rem;
    color: white;
}

.experience-content a{
    border-radius: 20px;
    background-color: white;
    padding: 1vh 1vh;
}

.experience-img{
    width: 100%;
    height: 100%;
    background-image: url('/images/experience-image.png');
    background-size: cover;
}
.seven{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 5vh 0;
}

.eight{
    padding: 3vh 0;
    background-color: white;
    max-width: 100%;

}
.eight .col-3{
    background-color:#DCEAF5;
    border-radius: 20px;
}

.eight .col-3 img{
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.pad{
    padding: 30px;
}


.neg{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 5vh 0;
}

.bb{
    display: inline-block;
    border-radius: 15px;
    background-color: #DCEAF5;
    padding: 1vh 5vh;
}

.cor{
    color: coral;
}

.hoyr{
    padding: 5vh 0;
}

.odin img{
    border-radius: 20px;
    width: 100%;
}

.dva img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.rw{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    overflow: hidden;
}

.rw .ns{
    padding: 0 20px;
}

.apple{
    display: flex;
    justify-content: space-between;
    background-color: #DCEAF5;
    max-width: 100%;
    padding: 3vh 0;
}

.ybl{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.yb{
    border-radius: 20px;
    width: 100%;
}

/* Contact Us */

.hoyor{
    height: 30vh;
}
input{
    border: none;
    border-radius: 27px;
    background-color: rgba(210, 218, 237, 0.17);;
    width: 605px;
    height: 54px;
    padding: 0 0 0 20px;
    margin-top: 16px;
}

.type{
    height: 160px;
    margin-bottom: 16px;
}

iframe{
    border-radius: 20px;
}

/* Footer */

footer{
    background-color: #063255;
    color: white;
    max-width: 100%;
    padding: 5vh 0;
}

footer{
    position: relative;
}

footer::after{
    content: '';
    position: absolute;
    width: 53px;
    height: 287px;
    background-color: #f58a07;
    top: 15%;
    right: 0;
    border-radius: 30px 0 0 30px;
}

footer::before{
    content: '';
    position: absolute;
    width: 53px;
    height: 144px;
    background-color: #f58a07;
    bottom: 0;
    left: 0;
    border-radius: 0 30px 0 0;
}

